<div class="tile is-ancestor" data-h5-scene-container="customers" data-h5-controller="CustomersController">
    <div class="tile is-vertical">
        <div class="tile">
            <div class="tile is-parent is-vertical">

                <article class="tile is-child notification">
                    <p class="title"></p>
                    <canvas id="chart" width="200" height="60"></canvas>
                </article>

                <article class="tile is-child" data-h5-loop-context="items" id="posts">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>John Smith</strong>
                                        <small>@johnsmith</small>
                                        <small>31m</small>
                                        <span data-h5-bind="title"></span>
                                        <span data-h5-bind="body"></span>
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-reply"></i>
                                            </span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-retweet"></i>
                                            </span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <i class="fas fa-heart"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>