<div class="tile is-ancestor" data-h5-scene-container="dashboard" data-h5-controller="DashboardController">
    <div class="tile is-vertical">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification">
                    <div class="level">
                        <span class="title">棒グラフ</span>
                        <a class="button is-success is-outlined">詳細</a>
                    </div>
                    <canvas id="bar-chart" width="16%" height="8%"></canvas>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="level">
                        <span class="title">折れ線グラフ</span>
                        <a class="button is-success is-outlined">詳細</a>
                    </div>
                    <canvas id="line-chart" width="16%" height="8%"></canvas>
                </article>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="level">
                        <span class="title">レーダーチャート</span>
                        <a class="button is-success is-outlined">詳細</a>
                    </div>
                    <canvas id="radar-chart" width="16%" height="8%"></canvas>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="level">
                        <span class="title">円グラフ</span>
                        <a class="button is-success is-outlined">詳細</a>
                    </div>
                    <canvas id="pie-chart" width="16%" height="8%"></canvas>
                </article>
            </div>
        </div>
    </div>
</div>